<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Enable annotation-driven MVC features -->
    <mvc:annotation-driven>
        <!-- Configure message converters -->
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html; charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json; charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

        <!-- Custom argument resolver -->
        <mvc:argument-resolvers>
            <bean class="mysite.security.AuthUserHandlerMethodArgumentResolver" />
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!-- Message source for internationalization -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages/message</value>
            </list>
        </property>
    </bean>

    <!-- Locale resolver -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="lang" />
        <property name="cookieHttpOnly" value="false" />
    </bean>

    <!-- Enable serving static resources -->
    <mvc:default-servlet-handler />
    <mvc:resources mapping="/assets/upload-images/**" location="file:/mysite-uploads" />

    <!-- Multipart resolver for file uploads -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.support.StandardServletMultipartResolver" />

    <!-- Interceptors -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/auth" />
            <bean class="mysite.security.LoginInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/user/logout" />
            <bean class="mysite.security.LogoutInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/user/auth" />
            <mvc:exclude-mapping path="/user/logout" />
            <mvc:exclude-mapping path="/assets/**" />
            <bean class="mysite.security.AuthInterceptor" />
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/assets/**" />
            <bean class="mysite.interceptor.SiteInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- View resolver for JSP views -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
    </bean>

    <!-- ApplicationContext event listener -->
    <bean class="mysite.event.ApplicationContextEventListener" />

    <!-- Enable annotation-driven configuration -->
    <context:annotation-config />

    <!-- Component scanning for controllers -->
    <context:component-scan base-package="mysite.controller" />

</beans>
